
.header-container {
    background-color: var(--background-color);
    height: 100%;
    padding: 0px 150px;
    color: var(--font-primary-color);}

.nav-container{
display: flex;
justify-content: space-between;
padding: 50px 0px;
width: Fixed (1,040px)px;
height: Hug (66px)px;}

.logo{
    font-size: 20px ;
    color: var(--primary-color);
    font-weight: bolder;}

.about-me{
    display: flex;
    gap: 40px;
    
    .CV{
        background-color: var(--primary-color);
        width: 150px;
        height: 30px ;
        text-align: center;}
    }


.banner-section{
    display: flex;
    justify-content: space-between;}

.banner-title h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;}

.banner-desc{
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 10px;}

.banner-addi{
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: 300;}

.portfolio-icon-container{
    display: flex;
   gap: 20px;
   margin-top: 30px;
   border-radius: 100px;
   padding: 5px 10px;
   width: fit-content;
   background-color: darkgray;}


.portfolio-container  {
    display: flex;
    gap: 10px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--font-primary-color);
    width: fit-content;
    padding: 10px 40px;
    border-radius: 40px;}

.check-icon {
    width: 20px ;
    height: 20px;
    margin-top: 5px;}

.hiring{
    font-size: 25px;
    margin-top: 5px;}

#star-img{
    width: 24px ;
    height: 24px;}

.social-media-profiles{
    display: flex;
    gap: 30px;
    margin-top: 25px;}

 #banner-image {
    width: 400px; }


 .about-me-section{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;}
 .about-me-title h1{
    font-size: 40px; }
.about-me-desc{
    font-size: 10px ;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;}

.checked{
    color: orange;
    margin-top: 20px;}

.rating-experience{
    font-size: 20px;
text-align: right;}

.times{
    font-size: 30px;
    margin-top: 10px;}

 @media only screen and (min-width: 200px) and (max-width: 576px){
    .nav-container{
        font-size: 10px;
    }
    .logo{
        font-size: 10px;
    }
    .container{
    
    }

 }   